{% extends "base_generic.html" %}

{% block content %}
<h1>Местная Домашняя Библиотека</h1>

  <p>Добро пожаловать в <em>Локальную Библиотеку</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Динамический контент</h2>

  <p>Библиотека имеет следующие позиции:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Копии:</strong> {{ num_instances }}</li>
    <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
    <p>Новинки: </p>
    <ul>
        {% for book in latest_books %}
            <li>{{ book.title }} by {{ book.author }} (Добавлено: {{ book.created_at }})</li>
        {% empty %}
            <li>Нет книг для отображения</li>
        {% endfor %}
    </ul>
  </ul>

<!--<p>-->
<!--  Посещений твоей страницы : {{ num_visits }}{% if num_visits == 1 %} time{%-->
<!--  else %} times{% endif %}.-->
<!--</p>-->

{% endblock %}